body {
  background-color: aqua;
}
.hidden {
  display: none;
}

#logo {
  padding: 10px;
  background-color: #f7e48d;
  margin-bottom: 10px;
}

img {
  display: block;
  box-sizing: border-box;
  width: 70vw;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
}

.header {
  text-align: center;
  font-family: cursive;
  box-sizing: border-box;
  background-color: #f7e48d;
  width: 70vw;
  max-width: 380px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  
}

.output {
  font-family: monospace;
  box-sizing: border-box;
  background-color: #f7e48d;
  width: 330px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  padding-left: 5px;
  padding-right: 5px;
}